body{
	font:35px Arial;
	margin:50px;
	padding:20;
	background:url('../Img/infuse-gradient.png');
}

header #Branding{
	float: left;
}

header #Branding h1{	
	margin: 0
}

#Branding .highlight{
	color: #e8491d;
	font-weight: bold;
	font-size: 45px;